<ion-view view-title="{{ disease.Nome.value }}">
    <ion-content class="padding">

        <div ng-if="disease.Imagem.value" style="text-align: center">
            <img ng-src="{{ disease.Imagem.value }}" ng-attr-alt="{{ disease.nome.value }}" style="max-height: 200px; max-width: 100%; border-radius: 4px;" />
        </div>

        <div class="card">
            <div class="item item-divider">Visualizar atração no mapa:</div>
            <div class="item item-text-wrap">
                <a ng-href="{{ disease.linkgooglemaps.value }}" target="_blank">{{ disease.linkgooglemaps.value }}</a>
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">O que é? {{ disease.typeName.value }}</div>
			<div class="item item-text-wrap">Cidade: {{ disease.cityname.value }}</div>
			<div class="item item-text-wrap">País: {{ disease.countryname.value }}</div>
			<div class="item item-text-wrap">Latitude: {{ disease.lat.value }}</div>
			<div class="item item-text-wrap">Longitude: {{ disease.long.value }}</div>		
        </div>

    </ion-content>
</ion-view>