<ion-view view-title="Doenças e Sintomas">

	<ion-content>
        <div class="card">
            <div class="item item-divider">Instruções</div>
            <div class="item item-text-wrap">
                Para buscar por vários termos, separe-os por vírgula: <br><br>
                Exemplos:<br><br>
                &gt; dor de cabeça,febre<br>
                &gt; malária, dengue
            </div>
        </div>

        <form ng-submit="doSearch(data.q, data.lang)">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" ng-model="data.q" placeholder="Busque por Doenças, Sintomas..." required autofocus /><br />
                </label>
            </div>
        </form>

        <div class="padding">
            <ion-list class="list list-inset">
                <ion-item class="item-divider">Idioma</ion-item>
                <ion-radio ng-repeat="(key, value) in LANGUAGES" ng-model="data.lang" ng-value="key">{{ value }}</ion-radio>
            </ion-list>
        </div>
    </ion-content>

</ion-view>