<ion-view view-title="Campeonatos">
    <ion-content>
		<form name="buscaTimes">
		<div class="list" style="background-color: white;padding-bottom: 10px;">
			<label class="item item-stacked-label">
				<input type="text" id="contains-agentes" ng-model="agente.busca" placeholder="Digite informações da doença" required>
			</label>
			<button style="margin-top: 15px; " class="button button-full button-green" id="busca-agente-submit" ng-click="submitPesquisa()" ng-disabled="buscaAgentes.$invalid">Pesquise</button>
		</div>
		</form>
        <ion-list>
            <ion-item ng-repeat="league in leagues | orderBy:'nomecampeonato.value'" class="item-thumbnail-left" ui-sref="teams({leagueName: league.nomecampeonato.value})">
                <img ng-if="league.brazao" ng-src="{{ league.brazao.value }}" ng-attr-alt="{{ league.nomecampeonato.value }}" />
                <h2>{{ league.nomecampeonato.value }}</h2>
                <p ng-if="league.numeroDeTimes">Times registrados: {{ league.numeroDeTimes.value }}</p>
                <p ng-if="league.PaisNome">País: {{ league.PaisNome.value }}</p>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>