<ion-view view-title="{{ team.nome.value }}">
    <ion-content class="padding">

        <div ng-if="team.escudo" style="text-align: center">
            <img ng-src="{{team.escudo.value}}" ng-attr-alt="{{team.nome.value}}" style="max-height: 200px; max-width: 100%;" />
        </div>

        <div class="card">
            <div class="item item-divider">Técnico:</div>
            <div class="item item-text-wrap">{{ team.nometecnico.value }}</div>
        </div>

        <div class="card">
            <div class="item item-divider">Website:</div>
            <div class="item item-text-wrap"><a ng-href="{{ team.site.value }}" target="_blank">{{ team.site.value }}</a></div>
        </div>

        <div class="card">
            <div class="item item-divider">Descrição</div>
            <div class="item item-text-wrap">{{ team.descricao.value }}</div>
        </div>

    </ion-content>
</ion-view>